@import "/src/styles/varibles.scss";

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;

  section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section{
    gap: 8px;
    flex-grow: 1;
    background-color: $gray-color;

  }

  .form-section{
    width: 30%;
    flex-grow: 0.3;
    padding: 0 35px;



    h2{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
    }
  }

  .button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;

    .divider{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;

      font-size: 14px;
      color: gray;
      font-weight: 400;
      text-transform: uppercase;


      div{
       flex-grow: 1;
       height: 2px;
        background-color: gray;
      }
    }

    button{
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: transparent;
      padding: 12px 24px;
      cursor: pointer;

      &:disabled{
        opacity: 0.8;
      }

      &.button-primary{
        background-color: $primary-color;
        color: white;
        box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);
      }

      &.button-second{
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  .login-logo {
    width: 15%;  // Define um tamanho grande para a imagem principal
    max-width: 600px;  // Garante que não fique exageradamente grande
    height: auto;  // Mantém a proporção

  }

  .main-image {
    width: 597px;  // Define um tamanho grande para a imagem principal
    max-width: 600px;  // Garante que não fique exageradamente grande
    height: 534px;  // Mantém a proporção
  }
}

