<app-defautl-login-layout
  title="Faça seu login"
  primaryButtom="Entrar"
  secondButtom="Cadastra-se"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
    formControlName="email"
    ínputName="email"
    label="E-mail"
    placeholder="Digite seu e-mail"
    type="email"
    >
      <img src="/assets/svg/email-icon.svg" alt="">
    </app-primary-input>
    <app-primary-input
    formControlName="password"
    inputName="password"
    label="Senha"
    placeholder="Digite sua senha"
    type="password"
  >
    <img src="/assets/svg/password-icon.svg" />
  </app-primary-input>
  <span>Esqueceu sua senha?</span>
  </form>
</app-defautl-login-layout>
